body{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	background-color: #E4F1FE;
	padding-top:150px;

}
	@media (max-width: 750px) {
		body{
			padding-top: 250px;
		}
	}



.pad{
	padding-top: 40px;
}

.title{
	font-size: 40px;
	border-bottom: dotted black 1px;
	font-family: 'Open Sans Condensed', sans-serif;
}
.content{
	margin-bottom: 30px;
}

.space{

	height:40px;
	background-color: #E4F1FE;
}

small{
	font-size:11px;
	color:#6C7A89;
}
	.all{
		
		
		/*padding-left:50px;*/
		


	}

	#presentation{
		padding-top: 120px;
		margin-top: -120px
	}

	#formules{
		padding-top: 100px;

		margin-top: -100px
	}
	#pointsforts{
		padding-top: 120px;
		margin-top: -120px
	}

	#contacs{
		padding-top: 120px;
		margin-top: -120px
	}
	.all .logo{
			padding-left: 65px;
		}

	@media (max-width: 750px) { 
			#presentation{
		padding-top: 250px;
		margin-top: -250px
	}

	#formules{
		padding-top: 250px;
		margin-top: -250px;
	}
	#pointsforts{
		padding-top: 250px;
		margin-top: -250px
	}

	#contacts{
		padding-top: 250px;
		margin-top: -250px
	}
	
	}	

		
	.all nav{
		padding-top:10px;
		vertical-align: middle;
		background-color: #E4F1FE;
	}


		.all .links{

		width: 170px;
		margin-top: 40px;
		font-size: 17px;
	}

	.all .logo img{
			width:350px;
		}
	@media (max-width: 750px) {
		button {
			margin-top:7px;
		}

		.all .links{
			margin-right:auto;
			margin-left:auto;
			margin-top: 10px;
		}

		.all .logo img{
			width:200px;

			margin-left: auto;
			margin-right:auto;
		}

		.all .logo{
			padding-left: 105px;
		}
	}

	button{
		height: 50px;}

		.btn-block{
		/*background-color: #E87E04;*/
		/*border:#2574A9 solid 2px;*/
		box-shadow: 3px 3px 3px #2C3E50;
		padding-left:10px;
		padding-right:10px;
	}


	.all a{
		text-decoration: none;
		color:#3A539B;
	}

	.presentation{

		background-color: #fff;
		padding-top:10px;
		padding-bottom: 30px;
		padding-left: 40px;
		padding-right: 10px;

	}

	@media (max-width: 750px) { .presentation{
		padding-left: 15px;
		padding-right: 15px;

	}
}

	.presentation p{
		padding-top:40px;
		font-size: 18px;
		text-indent: 15px;
	}

	.presentation span{
		padding-top:40px;
		padding-left: 15px;
		font-size: 16px;
		text-indent: 15px;
	}

	.presentation h4{
		margin-top:30px;
	}

	.presentation img{
		margin-top:40px;
		border: 3px #4183D7 solid;
		border-radius: 3px;
	}

		@media (max-width: 750px) { .presentation img{display: none} }
		@media (max-width: 950px) { .presentation img{width:350px;} }
	.formule {
		margin-top:30px;
		padding: 6px 6px 6px 6px;
		color:#fff;
		font-size: 18px;
		font-family: 'Open Sans Condensed', sans-serif;
		width:400px;
		cursor: pointer;

	}


.triangle {
	width: 0;
	height: 0;
	
	border-left: 14px solid transparent;

}

.matthias {
	background-color: #007d93;

}

.row{min-height: 1px;}
.matthias-triangle{
	border-top: 14px solid #22313F;
}


.euler {
	background-color: #bd1c3b;

}

.euler-triangle{
	border-top: 14px solid #96281B;
}

.cta{
	margin-bottom: 40px;
	
}

.cta-top{
	margin-top: 60px;
}



.mesure {
	background-color: #507585;

}

.mesure-triangle{
	border-top: 14px solid #22313F;
}
	
.vacance {
	background-color: #75b545;

}

.vacance-triangle{
	border-top: 14px solid #26A65B;
}
.pointsforts{
	line-height: 35px;
}

.pointsforts ul{
	line-height: 25px;
}


#description_desktop{
	display: none;
}


	#mobilematthias{display:none;
}


@media (max-width:999px){
	#mobilematthias{
		display: block;}
	.formule{width:300px;}
	#description_desktop{
	display: none;}
	
	#eulerinfo{display: none}	
	#matthiasinfo{display: none}
	#mesureinfo{display: none}
	#vacancesinfo{display: none}
}
